* {
  font-family: monospace;
}

body {
  color: #111;
  background-color: #f4f4f4;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;
}

#target-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#stats {
  margin-top: 20px;
}

#type-box {
  width: 60%;
  font-size: 24px;
  padding: 8px;
}

#restart-hint {
  margin: 10px;
  color: yellow;
  font-size: 14px;
}

.correct {
  color: lime;
}

.incorrect {
  color: red;
}

/* Dark theme using prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  body {
    color: #f5f5f7;
    background-color: #2c2c2e;
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.06);
  }
}
